.container .all {
    position: relative;
    color: #000000;
    margin: auto;
    background-color: #fff;
}

.title {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
}

.description {
    font-size: 1, 2rem;
    line-height: 1.7rem;
    padding-bottom: 30px;
}

.img {
    max-width: 100%;
}

.btn {
    font-size: 1, 2rem;
    line-height: 1.7rem;
    padding: 8px 20px;
    min-width: 150px;
    border-color: #2a767c;
    color: #2a767c;
}

.btn:hover {
    font-size: 1, 2rem;
    line-height: 1.7rem;
    padding: 8px 20px;
    min-width: 150px;
    border-color: #2a767c;
    background-color: #2a767c;
    color: #fff;
}


/*   
   
  
  
  .section .btn {
    font-size: 1, 2rem;
    line-height: 1.7rem;
    padding: 8px 20px;
    min-width: 150px;
    border-color: #2a767c;
    color: #2a767c;
  }
  
  .section .btn:hover {
    font-size: 1, 2rem;
    line-height: 1.7rem;
    padding: 8px 20px;
    min-width: 150px;
    border-color: #2a767c;
    background-color: #2a767c;
    color: #fff;
  }
  
   
  a.section-button.btn-link {
    display: block;
    padding: 10px 20px;
    border: 2px solid #5474ae;
    color: #5474ae;
    font-size: 1em;
    font-weight: 400;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
  }
  
  a.section-button.btn-link:hover {
    background-color: #5474ae;
    color: #fff;
  } */